@charset "utf-8";
/* CSS Document */

body
{
    font-family: "한컴 쿨재즈 B";
    color:#FFFFFF;
    background:#000000;
}


	header
	{
    	    float:left;
    	    width:100%;
	}

	    subheader /* 최외곽 박스를 만드는 곳 */
	    {
	    	height:25px;
		padding:5px;   	
	    }

	        label /* input박스의 label을 만드는 곳 */
                {
	            margin: 5px, 5px, 20px, 0px;
		    width: 50px;
	            display:inline;
	            color:#FFFFFF;
	        }

	        input /* input박스를 만드는 곳 */
		{
	            width:150px;
		    background-color: #000000;	
		    /* border:1px solid #000000; */
	            box-shadow:2.5px 2.5px 2.5px #FFFFFF
	        }

		input:focus /* input박스에 커서가 왔을 경우 */
		{
	            background-color: #FFFFFF;
		    /* border:1px solid #000000; */
	            box-shadow:2.5px 2.5px 2.5px #FFFFFF
		}

		/* 다음과 같이 정의 할 경우,
		   링크가 텍스트뿐만 아니라 박스 전체에 링크 */

				.btn a /* 로그인 버튼 만드는 곳 */
				{
				    margin:0px 0px 5px 0px;
				    width:100px;
				    background-color: #000000;
				    display:inline;
				    color: #555555;
				    border:1px solid #555555;
				    padding:5px;
				    text-align:center;
				    text-decoration:none;
				    border-radius:5px;
				    box-shadow:2.5px 2.5px 2.5px #FFFFFF;
				    
				}
			
				.btn a:hover /* 로그인 버튼에 커서가 왔을 경우 */
				{
			
				    background-color:#FFFFFF;
				    color:#000000;
				}

				.btn a:active /* 로그인 버튼을 클릭 할 경우 */
				{

				    box-shadow:none;
				}
			
				.clear 	/* 박스에서 모서리와 모서리의 충돌로 디자인이 어긋나 있을 경우,
					   양 옆을 클리어 */ 
				{
				    clear:both;
				}
	
        ul.subcontent
	{
	    width:12.5%;
	    height:375px;
    	    float:left;

	    margin:17.5px 0px 0px 27.5px;
	    padding:0;
	}

		ul.subcontent li
		{
	    	    list-style-type:none; /* 리스트타입은 none으로 지정하여 앞부분의 불렛을 삭제 */
	    	    display:block; 
	    	    width:87.5%;
		    height:25%;
		    text-align:center; /* 글자 완전히 가운데 정렬은 미해결 */

		    padding:0px 0px 0px 0px;
		    margin: 2.5px, 2.5px, 2.5px, 2.5px;
		    float:left;
		    border:1px #555555 solid;

		    background-color:#000000;
		    box-shadow:1px 1px 1px 1px #FFFFFF
		}

		    ul.subcontent li.active
		    {
		        background:#FFFFFF;
		        padding-bottom:1px;
		        border-bottom:none;
		    }

		    ul.subcontent li:hover /* 마우스 커서가 해당 메뉴에 올라갈 경우 */
		    {
		        background:#555555;
		        padding-bottom:1px;
		        border-bottom:none;
		        cursor:pointer;
		        cursor:hand;
		}

		.diary
		{
		    /*border-bottom:1px solid #FFFFFF; */
		    height:25px;
		}

	article
	{
	    float:right;
	    width:75%;
	    /*font-size: 0.75em;*/
	    line-height: 1.5em;
	}

        figure
	{
	    float:right;
	    margin:5px;	
	}

        figure img
	{
	    border:1px solid #666;
	    box-shadow:#CCC 5px 5px 5px;
	}

        figcaption
	{
	    text-align:center;
        }

	section
	{
	    width:100%;
	    height:100px;
	    padding:10px;
	    clear:both;
        }

	footer
        {
	    clear:both;
	    height:100px;
	}

        hgroup
	{
	    border-bottom: 1px solid #F90;

        }